html {
  height: 100%;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial,
    sans-serif;
}
body {
  height: 100%;
  background-color: #f4f5f5 !important;
  margin: 0;
}

.v-enter {
  opacity: 0;
  transform: translateX(100%);
}
.v-leave-to {
  opacity: 0;
  transform: translateX(-100%);
  position: absolute;
}
.v-enter-active,
.v-leave-active {
  transition: all 1s ease;
}

.card {
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
  padding: 20px;
  border-radius: 10px;
  color: 0.8;
  margin-bottom: 20px;
}

h1 {
  color: rgba(0, 0, 0, 0.6);
  border-left: 5px solid rgba(0, 0, 0, 0.6);
  padding-left: 10px;
}

hr {
  border-color: rgba(0, 0, 0, 0.1);
}

.el-aside{
  z-index: 1;
}

#app {
  height: 100%;
}
.full_screen {
  height: 100%;
}
.el-container,
.el-aside {
  height: 100%;
}
.el-main {
  margin-left: 300px;
}
.el-aside {
  position: fixed;
}
.user_info {
  height: 32%;
}
.nav_bar {
  height: 68%;
}
.base_shadow {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
}
.light_shadow {
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}
